:root {
	--color-a-1: rgba(20,20,25,1);
	--color-a-2: rgba(30,30,35,1);
	--color-a-3: rgba(40,40,45,1);
	--color-a-4: rgba(50,50,55,1);
	--color-a-5: rgba(70,70,75,1);
	--color-a-6: rgba(90,90,95,1);

	/*--color-b-1: rgba(250,250,255,1);*/
	--color-b-1: rgba(255,255,255,1);
	--color-b-2: rgba(210,210,220,1);
	--color-b-3: rgba(200,200,210,1);
	--color-b-4: rgba(190,190,200,1);
	--color-b-5: rgba(170,170,180,1);
	--color-b-6: rgba(150,150,160,1);

	--color-c-1: #ecdcff;
	--color-c-2: #d5baff;
	--color-c-3: #5e00c1;
	--color-c-4: #42008a;

	background-color: var(--color-b-1);

}

.App {
	text-align: center;
	color: var(--color-a-1);
}

.App-header {
	/*background-color: #282c34;*/
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
	font-size: calc(10px + 2vmin);
	color: var(--color-a-5);

}

.logo-image {
  	width: max(300px, 30%);
}

.header-outside {
	background-color: var(--color-c-1);
	width: 100%;
	padding: 0;
	height: 70px;

	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	box-shadow: 0 0 0px 0px rgba(0,0,0,.3);
}

.header-inside {
	background-color: var(--color-c-2);
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 30px;

	border-radius: 2% 2% 2% 2% / 10% 10% 20% 20%;
  	animation: header-animation 5s ease-in-out normal infinite;

	box-shadow: 0 0 0px 0px rgba(0,0,0,.3);

}

@keyframes header-animation {
	0% {
		border-radius: 3% 7% 7% 3% / 30% 30% 70% 70%;
	}
	25% { 
		border-radius: 6% 4% 7% 2% / 76% 46% 54% 24%;
	}
	50% {
		border-radius: 5% 5% 3% 7% / 55% 27% 73% 45%;
	}
	75% {
		border-radius: 3% 7% 6% 4% / 63% 68% 32% 37%;
	}
	100% {
		border-radius: 3% 7% 7% 3% / 30% 30% 70% 70%;
	}
}

.art-image {
 	width: 33.4vw;
}

.three-panel {
	margin: 0;
	padding: 0;
	height: 33.33333333vw;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0;
}

.short-panel {
	height: 33vw;
	overflow: hidden;
}

.crop-1-box {
	overflow: hidden;
	width: 33.333334vw;
	height: 33.33333333vw;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 1000px;
}

.crop-image {
	overflow: hidden;
}

.no-crop {
	overflow: visible;
}

.crop-1-image {
  	width: 36vw;
}

.crop-2-image {
  	width: 38vw;
}

.crop-3-image {
	width: 30vw;
}

.crop-4-image {
	width: 33vw;
}

.white-shadow {
	box-shadow: inset 0 0 50px 50px white;
}

.wobble {
	animation-name: wobble-animation;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-direction: alternate;
}

@keyframes wobble-animation {
	0% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(-5deg);
	}
}

.snap {
	animation-name: snap-animation;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-direction: alternate;
}

@keyframes snap-animation {
	0% {
		transform: rotate(-5deg);
		width: 38vw;
	}
	1% {
		transform: rotate(-5deg);
		width: 38vw;
	}

	33.999% {
		transform: rotate(-5deg);
		width: 38vw;
	}
	34% {
		transform: rotate(5deg);
		width: 38vw;
	}

	66.999% {
		transform: rotate(5deg);
		width: 38vw;
	}
	70% {
		transform: rotate(-15deg);
		width: 42vw;
	}

	89.999% {
		transform: rotate(-15deg);
		width: 42vw;
	}
	90% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.droplet {
	border-radius: 25% 75% 25% 75% / 75% 25% 75% 25%;
  	animation: droplet-animation 10s ease-in-out alternate infinite;
	z-index: 2;
}

@keyframes droplet-animation {
	0% {
		border-radius: 25% 75% 25% 75% / 75% 25% 75% 25%;
		box-shadow: -15px -15px 50px rgba(0,0,0,0.3);

	}
	25% {
		border-radius: 32% 28% 43% 35% /  65% 75% 75% 55%;
		box-shadow: -10px -5px 50px rgba(0,0,0,0.5);

	}
	50% {
		border-radius: 75% 55% 35% 75% /  35% 75% 55% 45%;
		box-shadow: 5px -5px 50px rgba(0,0,0,0.3);

	}
	75% {
		border-radius: 25% 35% 45% 64% /  45% 60% 65% 35%;
		box-shadow: 10px 5px 50px rgba(0,0,0,0.6);

	}
	100% {
		border-radius: 75% 25% 75% 25% / 25% 75% 25% 75%;
		box-shadow: 15px 15px 50px rgba(0,0,0,0.7);

	}
}

@keyframes droplet-animation {
	0% {
		border-radius: 45% 95% 55% 75% / 75% 65% 75% 85%;
		box-shadow: -15px -15px 50px rgba(0,0,0,0.3);

	}
	25% {
		border-radius: 62% 38% 53% 55% /  25% 35% 75% 75%;
		box-shadow: -10px -5px 50px rgba(0,0,0,0.5);

	}
	50% {
		border-radius: 75% 55% 25% 75% /  65% 75% 55% 25%;
		box-shadow: 5px -5px 50px rgba(0,0,0,0.3);

	}
	75% {
		border-radius: 95% 45% 25% 84% /  35% 80% 25% 95%;
		box-shadow: 10px 5px 50px rgba(0,0,0,0.6);

	}
	100% {
		border-radius: 75% 25% 25% 25% / 35% 75% 25% 25%;
		box-shadow: 15px 15px 50px rgba(0,0,0,0.7);

	}
}

.test-box-thing {
	width: 33.333vw;
	height: 33.333vw;
	background-color: red;
}

.test-box-1 {
	border-radius: 45% 95% 55% 75% / 75% 65% 75% 85%;
		box-shadow: -15px -15px 50px rgba(0,0,0,0.3);
}

.test-box-2 {
	border-radius: 62% 38% 53% 55% /  25% 35% 75% 75%;
		box-shadow: -10px -5px 50px rgba(0,0,0,0.5);
}
.test-box-3 {
	border-radius: 75% 55% 25% 75% /  65% 75% 55% 25%;
		box-shadow: 5px -5px 50px rgba(0,0,0,0.3);
}
.test-box-4 {
	border-radius: 95% 45% 25% 84% /  35% 80% 25% 95%;
		box-shadow: 10px 5px 50px rgba(0,0,0,0.6);
}
.test-box-5 {
	border-radius: 75% 25% 25% 25% / 35% 75% 25% 25%;
		box-shadow: 15px 15px 50px rgba(0,0,0,0.7);
}



.droplet-2 {
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  	animation: droplet-2-animation 12s ease-in-out alternate infinite;
	z-index: 2;
}

@keyframes droplet-2-animation {
	0% {
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
		box-shadow: 15px 15px 50px rgba(0,0,0,0.7);
	}
	25% { 
		border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
		box-shadow: 15px 5px 50px rgba(0,0,0,0.6);
	}
	50% {
		border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
		box-shadow: -10px -5px 50px rgba(0,0,0,0.5);
	}
	75% {
		border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
		box-shadow: -15px -15px 50px rgba(0,0,0,0.3);
	}
}

.droplet-3 {
	border-radius: 3% 7% 6% 4% / 30% 30% 70% 70%;
  	animation: droplet-3-animation 5s ease-in-out normal infinite;
	z-index: 2;
}

@keyframes droplet-3-animation {
	0% {
		border-radius: 3% 7% 7% 3% / 30% 30% 70% 70%;
	}
	25% { 
		border-radius: 6% 4% 7% 2% / 76% 46% 54% 24%;
	}
	50% {
		border-radius: 5% 5% 3% 7% / 55% 27% 73% 45%;
	}
	75% {
		border-radius: 3% 7% 6% 4% / 63% 68% 32% 37%;
	}
	100% {
		border-radius: 3% 7% 7% 3% / 30% 30% 70% 70%;
	}
}

.spin {
  	animation: spin-animation 60s linear normal infinite;
	z-index: 2;
}

@keyframes spin-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.flip-bulb {
	background-image: url("/public/pictures/light blue.jpg");
	background-size: 100%;
	height: 100%;
	width: 33.33334vw;
	transition: all 1.0s linear;
	transform-style: preserve-3d;


	/*transform: rotateY(180deg);*/
	/*backface-visibility: hidden;*/



	animation: flip-bulb-animation 10s linear normal infinite;
  	z-index: 3;
}


@keyframes flip-bulb-animation {
	0% {
		transform: rotateY(0deg);
		background-image: url("/public/pictures/light blue.jpg");
	}
	5% {
		transform: rotateY(90deg);
		background-image: url("/public/pictures/light blue.jpg");
	}
	5.00001% {
		transform: rotateY(270deg);
		background-image: url("/public/pictures/light navy.jpg");
	}
	10% {
		transform: rotateY(360deg);
		background-image: url("/public/pictures/light navy.jpg");
	}


	50% {
		transform: rotateY(360deg);
		background-image: url("/public/pictures/light navy.jpg");
	}
	50.00001% {
		transform: rotateY(0deg);
		background-image: url("/public/pictures/light navy.jpg");
	}
	55% {
		transform: rotateY(90deg);
		background-image: url("/public/pictures/light navy.jpg");
	}
	55.0001% {
		transform: rotateY(270deg);
		background-image: url("/public/pictures/light blue.jpg");
	}
	60% {
		transform: rotateY(360deg);
		background-image: url("/public/pictures/light blue.jpg");
	}


	100% {
		transform: rotateY(360deg);
		background-image: url("/public/pictures/light blue.jpg");
	}

}