:root {
  --color-a-1: rgba(20,20,25,1);
  --color-a-2: rgba(30,30,35,1);
  --color-a-3: rgba(40,40,45,1);
  --color-a-4: rgba(50,50,55,1);
  --color-a-5: rgba(70,70,75,1);
  --color-a-6: rgba(90,90,95,1);

  --color-b-1: rgba(250,250,255,1);
  --color-b-2: rgba(210,210,220,1);
  --color-b-3: rgba(200,200,210,1);
  --color-b-4: rgba(190,190,200,1);
  --color-b-5: rgba(170,170,180,1);
  --color-b-6: rgba(150,150,160,1);

  --color-c-1: #ecdcff;
  --color-c-2: #d5baff;
  --color-c-3: #5e00c1;
  --color-c-4: #42008a;

  background-color: var(--color-b-1);

}

.App {
  text-align: center;
  color: var(--color-a-1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: var(--color-a-5);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo-image {
  width: max(300px, 30%);
}
